/* Typography */
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);


body{
    font-family: 'Oxygen', sans-serif;
    position: relative;
    font-size: 13px;
    font-weight: 300;
    color: #444;
}

ul li{
    list-style: none;
}

a{
    outline: none;
    text-decoration: none;
    color: #444;
}

a:hover{
    background: transparent !important;
    color: #E91E63;
    outline: none;
    text-decoration: none;
}

a:visited{
    background: #333;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

/* header-top */
.header-top{
    background: #FFF9C4;
}

/* header-middle */
.header-middle{
    height: 70px;
    border-bottom: 1px solid #E91E63;
}

.logo-brand{
  padding-top: 12px;    
  width: 50%;   
}

.shop-menu{
    padding-top: 10px;
}

.shop-menu a{
    padding-right: 0 !important;
}

/* header-bottom */
.main-menu{
    font-size: 15px;
    font-weight: 300;
}

.search-box{
    margin-top: 10px;
}

.search-box input{
    font-family: 'Oxygen', sans-serif;
    outline: none;
    background: #CFD8DC;
    color: #fff;
    border: 1px solid #CFD8DC;
    border-radius: 1px;
    width: 130px;
    height: 30px;
}

/* slider */
#slider .item{
    outline: none;
}

.each-slide{
    margin-top: 100px;
}
/* Slick styles */
.slick-dots{
    bottom: 5px;
}

.slick-dots li button:before{
    font-size: 9px;
}